body {
  background-color: rgb(82, 82, 82);
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}
h1 {
  font-size: 36px;
  text-align: center;
}
#matchups {
  float: left;
  margin: 12px;
  padding: 12px;
  border: ridge 12px rgb(7, 166, 206);
  width: 250px;
  font-size: 20px;
}
#interactiveWindow {
  float: left;
  margin: 12px;
  padding: 12px;
  border: solid gainsboro 4px;
  min-width: 60%;
  width: auto;
  font-size: 30px;
}
#startButton{
  font-size: 36px;
  min-width: 20%;
}

.numberInput {
  font-size: 30px;
  width: 50px;
}
.dropdownInput{
  font-size: 30px;
  height: 41px;
}
.buttonHolder{
  margin-top: 20px;
  text-align: center;
}
.nameInput{
  font-size: 30x;
}
.gesture {
  font-weight: normal;
}
.rock {
  color: rgb(255, 191, 28);
}
.paper {
  color: rgb(205, 206, 255);
}
.scissors {
  color: rgb(144, 201, 255);
}
.lizard {
  color: #79d45d;
}
.spock {
  color: #fdff80;
}
